alert-danger {
  color:red;
}

.registration {
  border: 2px solid rgb(24, 22, 22);
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(209, 209, 238);
}
.register-head{
  background-color: rgb(56, 56, 99);
  text-align: center;
  color: white;
  border-radius: 5px;
}